# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/*.pyc

# AI Models & Weights
*.pt
*.onnx
*.engine
*.weights
*.tflite
runs/

# Environments
.venv/
venv/
ENV/
env/
bin/
lib/
include/

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Output & Logs
outputs/
*.log

# Project specific
test_video.mp4
